.containerTopNav{
    height: 80px;
    padding-top: 10px;
    background-color: #23231E;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #D2C8BE;
  }
  
  .logo-img{
    float:left;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .inline-block {
    float: right;
    padding: 15px;
    color: #D2C8BE;
  }
  .left {
    height: 500px;
    float: left;
    background-color: #23231E;
    width: 60%;
    text-align: center;
  }
  
  .right {
    height: 500px;
    float: left;
    background-color: #23231E;
    width: 40%;
    text-align: left;
  }
  
  .typography h1 {
    font-family: din-condensed, sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
  }
  
  .typography h2 {
    font-family: din-condensed, sans-serif;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
  }
  
  .typography h3 {
    font-family: din-condensed, sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
  }
  
  .about-me {
    margin: 180px;
    padding-top: 400px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #23231E
  }
  
  footer{
    background: #23231E;
    padding: 70px 0;
    font-family: din-condensed, sans-serif;
    color: #D2C8BE;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: #D2C8BE;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
  }
  
  .right-col h1{
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #D2C8BE;
  }